@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-color: #C8472C;
  --secondary-color: #F8DE3C;
  --secondary-light-color: #f8df3caf;
  --accent-color: #105EDD;
  --accent-light-color: #58ACF4;
  --accent-dark-color: #0B3075;
  --border-color: #412A1E;
}

/* TODO: create the dark mode color pallet */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link-mobile {
  @apply w-2/3 mx-auto pb-2 border-b border-border text-center text-lg text-background;
}
.nav-link {
  @apply border-b border-border text-center text-base px-2 min-w-24 lg:text-lg;
}

.open-nav {
  @apply  translate-x-[74vw] transition-transform duration-75 ease-linear;
}

.close-nav {
  @apply  transition-transform duration-75 ease-linear;
}

.basic-mobile-hover {
  @apply hover:border-secondary hover:text-secondary;
}
.basic-hover {
  @apply hover:bg-primary hover:rounded-2xl hover:text-secondary hover:p-2;
}
.basic-active {
  @apply active:text-accentLight active:border-accentLight;
}
